/**********************************
 Practica 0208
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/*********************
  CONTENIDOS

  $Reset
  $Contenedores
  $Bloques Paisaje
  $Elementos
  $Animaciones
***********************/

/*---------------
  $RESET
-----------------*/

* { margin: 0px; padding: 0px }

/*---------------
  $CONTENEDORES  
-----------------*/

.animacion {
    position: relative;
}

/*-----------------
  $BLOQUES PAISAJE
-------------------*/

.cielo {
    height: 200px;
    width:  100%;
}

.cielo__noche {
    background: #111144;
}

.cielo__dia {
    position: absolute;
    top:      0; 
    left:     0;
    height:   200px;
    
    background-color: #78bbca;
    z-index: 20;
    
    opacity: 0;   
}

.horizonte {
    height: 100px;
    width:  100%;
}

.horizonte__noche {
    background: linear-gradient(#111144, #504923);
}

.horizonte__dia {
    position: absolute;
    top:      200px;
    left:     0;
    
    background: linear-gradient(#78bbca, #a18f2c);
    z-index: 20;
    
    opacity: 0; 
}

.desierto {
    height: 300px;
    width:  100%;
}

.desierto__noche {
    background-color: #504923;
}

.desierto__dia {
    position: absolute;
    top:      300px;

    background-color: #a18f2c;
    opacity: 0;
}

/*-----------------
  $ELEMENTOS
-------------------*/

#ejecutar {
    height:  40px;
    padding: 0px 10px;
    margin:  0 50%;
}

.camino-sol {
    position: absolute;
    top: 50px;
}

.sol {
    position: absolute;
    left:    -100px;
    
    width: 100px;
    height: 100px;
    background-image: radial-gradient( circle closest-side, yellow, #78bbca);
    
    z-index: 30;
}

.estrella {
    position: absolute;
    background: #78bbca;
    opacity: 0.5;
            
    z-index: 30;
}

.estrella__grande {
    
    width: 4px;
    height: 4px;
        
    border-radius: 2px;
}

.estrella__pequena {
    
    width: 2px;
    height: 2px;
    
    border-radius: 1px;
}

/*-----------------
  $ANIMACIONES
-------------------*/

.amanecer-atardecer {
    animation-name:            paisaje;
    animation-duration:        20s;
    animation-iteration-count: infinite;
    animation-direction:       alternate;
    animation-timing-function: linear;
}

@keyframes paisaje {

    from {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    75% {
        opacity: 1;
    }
    
    to {
        opacity: 1;
    }
}

.ciclo-sol {
    animation-name:            paseo-sol;
    animation-duration:        40s;
    animation-iteration-count: infinite;
    animation-direction:       normal;
    animation-timing-function: linear;
}

@keyframes paseo-sol {
    
    0% {
        transform: translate(0,0);
    }
    
    37.5% {
        transform: translate(0,0);
    }
    
    62.5% {
       transform: translate(120vw,0%);
    }
    
    to {
       transform: translate(120vw,0%);
    }

}

.ciclo-estrellas {
    animation-name:            brillo-estrellas;
    animation-duration:        3s;
    animation-iteration-count: infinite;
    animation-direction:       alternate;
    animation-timing-function: linear;
}

@keyframes brillo-estrellas {
    
    0% {
        transform: scale(1,1);
        opacity: 0;
    }
    
    to {
       transform: scale(1.2,1.2);
       opacity: 0.9;
    }

}

